@keyframes show-welcome {
  0% { transform: translateY(250px) translateZ(0); }
}

@keyframes show-info {
  0% { opacity: 0; }
  100% { opacity: 0.8; }
}

@keyframes show-background {
  0% { opacity: 0; background-position: 0 50%;}
  100% {
    opacity: 1;
    background-position: 0 0;
  }
}
