@import "jscrollpane";
@import "animations";

$main-color: #2E77A8;
$secondary-color: #70A4C5;
$text-color: #eeeeff;
$font-stack: "Merriweather sans", sans-serif;

* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: $secondary-color;
  font-family: $font-stack;
  text-align: center;
  line-height: 1.6em;
}

header {
  $height: 300px;
  position: relative;
  z-index: 10;
  width: 100%;
  height: $height;
  overflow: hidden;
  padding-top: 110px;
  background: $main-color;
  color: $text-color;
  margin-bottom: 80px;

  .title {
    margin-top: 0.5em;
    font-size: 4em;

    transition: transform 0.6s;

    &.out {
      transform: translateY(-$height) translateZ(0);
    }
  }

  .welcome {
    margin: 0;
    font-size: 4em;
    animation: show-welcome 0.5s both;
  }

  .info {
    margin-top: 2em;
    font-size: 1.4em;
    animation: show-info 1s 1s both;
  }

  &.minimize {
    $duration: 1s;
    transition: all $duration;
    height: 80px;
    padding: 0;

    .welcome {
      transition: all $duration;
      opacity: 0;
      margin-top: -0.65em;
    }
  }
}

.login {
  position: relative;
  z-index: 10;
  appearance: none;
  border: none;
  cursor: pointer;

  padding: 0.8em 2em;
  background: $main-color;
  border-radius: 5px;

  font-size: 1.8em;
  color: $text-color;
  font-family: $font-stack;
  font-weight: 300;

  transition: background 0.2s;

  &:hover {
    background: lighten($main-color, 7%);
  }

  &:active {
    background: darken($main-color, 7%);
  }

  &.out {
    transition: opacity 0.75s;
    opacity: 0;
  }
}

.search {
  position: relative;
  z-index: 10;
  width: 520px;
  height: 70px;
  margin: 0 auto;
  text-align: left;

  border-radius: 5px;
  box-shadow: 0 1px 0 1px rgba(0,0,0,0.2);

  animation: show-search 1s 2s both;

  input {
    display: inline-block;
    vertical-align: top;
    width: 450px;
    height: 100%;
    margin: 0;
    padding: 0 0.8em;

    font-size: 1.5em;
    color: darken($main-color, 10%);
    font-family: $font-stack;
    font-weight: bold;

    appearance: none;
    border: 2px solid;
    border-right-width: 0;
    border-color: transparent;
    border-radius: 5px 0 0 5px;
    background-color: whitesmoke;

    transition: border 0.1s;

    &:focus {
      outline: none;
      border-color: $main-color;
    }
  }

  .icon {
    display: inline-block;
    width: 70px;
    height: 100%;
    cursor: pointer;

    background-color: $main-color;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: 18px 18px;
    border-radius: 0 5px 5px 0;

    transition: background-color 0.2s;

    &:hover {
      background-color: lighten($main-color, 7%);
    }

    &:active {
      background-position-y: 19px;
      transition-duration: 0s;
      background-color: darken($main-color, 7%);
    }
  }
}

.friend-list {
  position: relative;
  z-index: 10;
  width: 480px;
  height: 342px;
  margin: 20px auto;
  list-style-type: none;
  overflow: auto;
  text-align: left;

  border-radius: 3px;

  animation: show-friend-list 1s 0.85s both;

  .friend {
    cursor: pointer;
    padding: 7px;
    background: fade-out(whitesmoke, 0.1);
    margin: 0 5px 5px -30px;
    border-radius: 3px;
    font-size: 1.2em;
    box-shadow: 0 2px 0 1px rgba(0,0,0,0.2);

    transition: background-color 0.15s;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: whitesmoke;
    }

    &:active {
      position: relative;
      top: 1px;
      transition-duration: 0s;
      background-color: darken(whitesmoke, 5%);
    }

    img {
      vertical-align: middle;
      margin-right: 15px;
      border-radius: 2px;
    }

    .name {
      position: relative;
      top: 1px;
    }
  }
  .jspContainer {

    .jspPane {
      padding: 0;
    }

    .jspVerticalBar {
      width: 10px;
      background: transparent;
    }

    .jspTrack {
      background: transparent;
    }

    .jspDrag {
      border-radius: 5px;
      background-color: fade-out(darken($main-color, 5%), 0.2);
    }
  }

}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;

  transform: translateZ(0);
  animation: show-background 2s 0.25s both;

  // Transparent grid overlay
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0,0,0,.3) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0,0,0,.3) 1px, transparent 1px);

    background-size: 2px 2px, 2px 2px;
  }
}
